<div class="offline-doc">
    <div class="page-header clear-filter">
        <div class="page-header-image" style="background-image: url('../assets/img/cover.jpg');"></div>
        <div class="content-center">
            <div class="col-md-8 ml-auto mr-auto">
            <div class="brand">
                <h1 class="title">
                <strong>ERROR 404</strong>
                </h1>
                <h3 class="description">Página no encontrada</h3>
                <br/>
            </div>
            </div>
        </div>
    </div>
                
</div>