<footer class="footer">
  <div class="container-fluid">
  <nav class="float-left">
    <ul>
      <li>
        <a href="https://www.creative-tim.com">
          Bases de Datos
        </a>
      </li>
      <li>
        <a href="https://creative-tim.com/presentation">
          Ciclo I
        </a>
      </li>

    </ul>
  </nav>
  <div class="copyright float-right">
    &copy;
    2019, elaborado <i class="material-icons">favorite</i> por
    <strong>Grupo 11</strong>
  </div>
  </div>
</footer>