<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-primary">
        <h3 class="card-title ">Nueva Especialidad</h3>
        <p class="card-category">Registre una nueva especialidad</p>
      </div>
      <div class="card-body">
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="bmd-label-floating">Nombre</label>
          <input for="nombre" type="text" class="form-control"[(ngModel)]="especialidad.nombre" name="nombre">
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary pull-right" (click)='create()' *ngIf="!especialidad.id else elseBlock">Guardar</button>

    <ng-template #elseBlock>
    <button type="submit" class="btn btn-primary pull-right" (click)='update()' >Editar</button>
    </ng-template>

    <div class="clearfix"></div>
  </form>
</div>
    </div>
  </div>
</div>
