<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
    Tip 2: you can also add an image using data-image tag
  -->
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-normal">
      <strong>xcl:</strong> Expediente Clínico
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li *ngIf="authService.hasRole('ROLE_AdminHosp')" class="nav-item active">
        <a class="nav-link" routerLink="/home/usuario_form">
          <i class="material-icons">person</i>
          <p>Agregar Usuario</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_AdminGen')" class="nav-item active">
        <a class="nav-link" routerLink="/home/hospital">
          <i class="material-icons">library_books</i>
          <p>Hospitales</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_AdminHosp')" class="nav-item active">
        <a class="nav-link" [routerLink]="['/home/hospital/editar']">
          <i class="material-icons">library_books</i>
          <p>Editar Hospital</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_AdminGen')" class="nav-item active">
        <a class="nav-link" routerLink="especialidad">
          <i class="material-icons">content_paste</i>
          <p>Especialidades</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_AdminGen')" class="nav-item active">
        <a class="nav-link" routerLink="estado_civil_t">
          <i class="material-icons">content_paste</i>
          <p>Estado Civil</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_AdminGen')" class="nav-item active">
        <a class="nav-link" routerLink="genero">
          <i class="material-icons">content_paste</i>
          <p>Generos</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_Enfermero')" class="nav-item active">
        <a class="nav-link" routerLink="/home/listado_pacientes_enf">
          <i class="material-icons">content_paste</i>
          <p>Lista de Pacientes</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_Recepcionista')" class="nav-item active">
        <a class="nav-link" routerLink="/home/listado_pacientes_rec">
          <i class="material-icons">content_paste</i>
          <p>Lista de Pacientes</p>
        </a>
      </li>
      <li *ngIf="authService.hasRole('ROLE_AdminHosp')" class="nav-item active">
        <a class="nav-link" [routerLink]="['/home/pacientes']">
          <i class="material-icons">content_paste</i>
          <p>Lista de Pacientes</p>
        </a>
      </li>

      <li *ngIf="authService.hasRole('ROLE_AdminHosp')" class="nav-item active">
        <a class="nav-link" [routerLink]="['/home/usuarios']">
          <i class="material-icons">content_paste</i>
          <p>Lista de Usuarios</p>
        </a>
      </li>
    </ul>
  </div>
</div>
