<strong>Paciente:</strong> {{paciente.usuario.nombres}}
<div class="row">
    <div class="col-md-12">
      <div class="card card-chart">
        <div class="card-header card-header-rose text-center">
          <h2>Listado de Citas</h2>
        </div>
        <div class="card-body">
            <div id="calendar"></div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <a [routerLink]="['/home/cita',paciente.id]" class="btn btn-primary pull-left">Crear Cita</a>
          </div>
        </div>
      </div>
    </div>
</div>
